@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

body {
font-family: 'Goldman', sans-serif;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-image: url(https://i.pinimg.com/736x/d6/9e/f6/d69ef6bd0de80cb5f7ee0ff2c0c372e1.jpg);
background-size: cover;
background-position: center;
}

.container {
display: flex;
flex-wrap: wrap;
width: 80vw;
max-width: 800px;
justify-content: center;
}

.pokemon {
background-color: #277db6;
flex: 1 0 25%;
max-width: 25%;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
transition: transform 0.3s;
}

.pokemon img {
width: 100%;
max-width: 100px;
}

.pokemon:hover {
transform: scale(1.1);
background-color: aqua;

}


@media (max-width: 600px) {
.pokemon {
flex: 1 0 33.33%;
max-width: 33.33%;
}
}


@media (max-width: 400px) {
.container {
flex-direction: column;
align-items: center;
}
.pokemon {
flex: 1 0 100%;
max-width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
background: white;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 5px;
padding: 10px;
transition: background 0.3s;
}
.pokemon img {
width: 50px;
}
.pokemon::before {
content: attr(data-name);
font-size: 18px;
font-weight: bold;
margin-right: 10px;
}
.pokemon::after {
content: url();
width: 20px;
height: 20px;
display: block;
}
.pokemon:hover {
background: #ff6e6e;
transform: none;
}
}

@media (max-width: 300px) {
.pokemon {
flex-direction: column;
text-align: center;
padding: 20px;
}
.pokemon::before {
content: attr(data-name);
display: block;
margin-bottom: 10px;
}
.pokemon::after {
display: none;
}
}