@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
body {
    font-family: Goldman, sans-serif;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a11de91a-5e1b-447c-9066-64185f3c8cbb/d7a42h1-39a19868-7cd3-47af-b557-118890a140dc.jpg/v1/fill/w_1192,h_670,q_70,strp/_updated__pokeball_wallpaper_by_rushetafan_d7a42h1-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvYTExZGU5MWEtNWUxYi00NDdjLTkwNjYtNjQxODVmM2M4Y2JiXC9kN2E0MmgxLTM5YTE5ODY4LTdjZDMtNDdhZi1iNTU3LTExODg5MGExNDBkYy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.5XTBE-aavwhrFjzSGtQc0skSV9q26BoP7a9JAhcQfkc);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
    padding: 20px;
}

.card img {
    width: 100px;
    height: auto;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card .type {
    font-size: 1.1em;
    margin: 10px 0;
}

.card .type span 
