@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

body {
    font-family: 'Goldman', sans-serif;
    background-image: url(pokebg.gif);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 100%;
    max-width: 980px;
}

.card {
    margin: 0;
    width: 80%;
    height: 30%;
    padding-bottom: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url(cardbg.jpg);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
    position: relative;
}

.card:hover {
    transform: scale(1.03);
}

.image img {
    width: 50%;
    height: auto;
    display: block;
    max-width: 90px;
    max-height: 90px;
    margin: 10px auto;
}

.details {
    height: 70%;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

.details h1 {
    font-size: 20px;
    margin: 5px 0;
}

.details .type-label {
    font-size: 15px;
    font-weight: bold;
    margin: 1px;
}

.details .types {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.details .type {
    margin: 5px;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.details .type.grass {
    background-color: #78C850;
}

.details .type.fire {
    background-color: #F08030;
}

.details .type.water {
    background-color: #6890F0;
}

.details .type.ghost {
    background-color: #705898;
}

.details .type.steel {
    background-color: #B8B8D0;
}

.details .type.rock {
    background-color: #B8A038;
}

.details .type.poison {
    background-color: #A040A0;
}

.details .desc {
    margin: 5px;
    font-size: 12px;
    margin-bottom: 7px;
}

.buttons {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.add,
.release {
    font-family: 'Goldman', sans-serif;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    transition: background-color 0.3s;
}

.add {
    background-color: #0073ee;
    color: white;
}

.release {
    background-color: #DC3545;
    color: white;
}

.add:hover {
    background-color: #1121ff; /* Purple color on hover */
}

.release:hover {
    background-color: #b90000; /* Purple color on hover */
}

.details.darkred {
    background-color: #C92332;
}

.details.darkgreen {
    background-color: #2A7221;
}

.details.darkblue {
    background-color: #1338A8;
}

.details.blue {
    background-color: #238cc9;
}
.details.pink {
    background-color: #d288fd;
}
.details.skyblue {
    background-color: #757575;
}
